* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
}

.left {
    width: 40%;
    height: 100%;
    /* background-color: violet; */
    position: relative;
}

.nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.rnav {
    display: flex;
    align-items: center;

}

.rnav a {
    text-decoration: none;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h1{
    font-size: 80px;
}

.text p{
    opacity: 0.8;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text a{
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    opacity: 0.7;

}
.right {
    width: 60%;
    height: 100%;
    /* background-color: rgb(29, 145, 106); */
}

.rtop {
    width: 100%;
    height: 50%;
    /* background-color: royalblue; */
    display: flex;
}

.rbottom {
    width: 100%;
    height: 50%;
    /* background-color: turquoise; */
    background-image: url("Images/13.jpg");
    background-size: cover;
    background-position: center;
}

.rtopleft {
    width: 50%;
    height: 100%;
    /* background-color: tomato; */
    background-image: url('Images/16.jpg');
    background-size: cover;
    background-position: center;

}

.rtopright {
    width: 50%;
    height: 100%;
    /* background-color: grey; */
    background-image: url('Images/21.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:500px) {
    .main{
        flex-direction: column;
    }

    .main .left{
        width: 100%;
    }

    .main .right{
        width: 100%;
    }
}